.top-bar{
    position:sticky;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 30px;
    background:#111827;
    border-bottom:2px solid #fbbf24;
    box-shadow:0 4px 15px rgba(0,0,0,.4);
    z-index:1000;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:#fbbf24;
}

.balance{
    background:#1f2937;
    padding:10px 18px;
    border-radius:12px;
    font-size:20px;
    font-weight:bold;
    color:#22c55e;
    border:1px solid #374151;
}

#balance{
    color:#fbbf24;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#10151f;
    color:white;
}

button{
    padding:12px 25px;
    font-size:20px;
    border-radius:10px;
    border:none;
    cursor:pointer;
}

input{
    font-size:20px;
    padding:8px;
    border-radius:8px;
}

a{
    text-decoration:none;
}
